[2016-11-09 15:36] davetao opened #3 "Problem importing content generated by the export tool"
I was attempting to import the contents of the contentful-export tool into a new space when i came across the following crash.

TypeError: Cannot read property 'url' of null

ERR! Failed within
 TypeError: Cannot read property 'url' of null
ERR! Failed within
     at /usr/local/lib/node_modules/contentful-import/node_modules/contentful-batch-libs/transform/transformers.js:36:44
ERR! Failed within

[2016-11-09 15:55] Khaledgarbaya commented on #3
hi @davetao ,
Can you specify the versiion of the contentful-export and contentful-import you used ?

[2016-11-10 12:23] Khaledgarbaya commented on #3
hi @davetao ,
I pushed a new major version for contentful-export and contentful-import, can you try with those new ones and tell me if you still have the same problem.

[2016-11-25 11:48] gearboxdesign commented on #3
Hi @Khaledgarbaya, I am also having an issue importing content from an export, it is not the same issue described above.

I get a 404 response when trying to import the resources:

ERR! NotFound: {
  "request": {
    "url": "https://api.contentful.com:443/spaces/qa9eo8psvy4v/locales/1zSpSBgeOniliHN6bkLwiB",
    "headers": {
      "Accept": "application/json, text/plain, */*",
      "Content-Type":

[2016-11-25 12:13] Khaledgarbaya commented on #3
Hi @gearboxdesign , You will need a new token from the new space's organisation management token to be able to import your content

[2016-11-25 12:15] gearboxdesign commented on #3
I'll give that a try :)

[2016-12-12 14:53] spencerkohan opened #6 "ERR! TypeError: expecting an array or an iterable object but got [object Null]"
I'm attempting to re-import the content exported by contentful-export and I get this error bubbling up from bluebird.  Any idea what this is?

[code]

[2016-12-12 15:56] stefanjudis opened #7 "Different import results with same exported file"
I'm running a fairly small import using a json file that I generated using contentful-export.
File to import 👉  https://gist.github.com/stefanjudis/3f5b9773304b2c750ec631f0811ffcde

Sometimes this is resulting in different results (look at the publishing state).

I'm on node `v7.2.0`.

[code]

I'm using the current version `v2.1.1`.

[code]

## Run 1:

<img width="1156" alt="bildschirmfoto 2016-12

[2016-12-12 16:05] Khaledgarbaya commented on #7
Thanks for reporting I will take a look asap

[2016-12-12 16:05] Khaledgarbaya commented on #6
@spencerkohan Hi, Can you provide which version you used both for export and import

[2016-12-12 16:11] spencerkohan commented on #6
thanks for getting back - the import version is 2.1.1.

I've already figured it out - my import JSON was missing the "assets" array.  I might suggest doing some validation of the import contents or adding defaults for missing properties - the error I got was not helpful for debugging since it gives no information about how or why it fails.

[2016-12-12 16:11] #6 closed

[2016-12-21 15:46] szimek opened #9 "content-model-only option is not really mentioned in the README"
In the README file it's mentioned that:
[code]
However, this `content-model-only` option is not mentioned in any other place as one of available options. Looks like it's actually an option of `contentful-batch-libs/push/push-to-space`, but it would be great to mention it in the README.

[2017-01-02 09:37] Khaledgarbaya commented on #9
@szimek ,
sorry for the late response. I am aware of that and it will be added soom to the README
Best,
Khaled

[2017-01-02 09:37] #9 closed

[2017-01-23 11:23] andrewrutter opened #10 "Fatal error importing content - isDraft is not a function"
I am trying to import content which was exported using the contentful-export cli tool. I am getting the following error which is killing the import process:

[code]

The export was generated with just the --download-assets switch do I need to specify any other options when generating the export?

[2017-01-23 12:57] Khaledgarbaya commented on #10
Hi @andrewrutter, which version do you use ?

[2017-01-23 13:06] andrewrutter commented on #10
2.2.0 I installed it cleanly this morning

Export is showing as version 2.3.0

Thanks,

Andrew Rutter
President
Creative Clarity Inc.

andrew@creativeclaritycreations.com | 404.372.7430 | @clearcreativity

[2017-01-23 13:21] Khaledgarbaya commented on #10
@andrewrutter I pushed a fix to the batch-libs that will prevent this error. if you update the contentful-import, the batch libs version should be 4.8.1

[2017-01-23 15:23] andrewrutter commented on #10
Still seeing batch-libs as 4.7.4. I uninstalled and reinstalled completely but no difference

[2017-01-23 15:26] Khaledgarbaya commented on #10
ok I bumped the version in contentful-import, a new version should be out in few minutes

[2017-01-31 15:24] pgscandeias opened #11 "Add proxy support"
Under certain conditions, particularly in enterprise environments, it's sometimes required to pass requests through proxies. It would be useful for this tool to support http proxies.

[2017-02-20 15:37] gaapt opened #13 "Explain rate limit implementations"

[2017-02-23 22:55] temelj opened #14 "import entries only"
The contentful-import does not support the import of entries only.

This would be very handy when exporting/importing spaces and only the entries are important. Assets take too much space and may not fit within the free/paid subscription model at the time.

Is there an alternative workaround to get this to work?

[2017-02-24 10:05] Khaledgarbaya commented on #14
Hi @temelj ,

It is in the roadmap to have flags for what to import but unfortunately, I don't have a clear timeline for this feature. [This](https://github.com/contentful/contentful-batch-libs/blob/master/lib/push/push-to-space.js) is the part that does the import, it shouldn't be so hard to achieve that if your need is urgent for now.

I'll keep you posted whenever this issue is resolved.
Best,

[2017-02-27 21:59] lwakefield opened #15 "Processing assets does not respect rate limits"
After updating assets, `contentful-import` appears to send all process asset requests at once causing the client to become rate-limited which in turn breaks the import.

[2017-02-27 22:16] Khaledgarbaya commented on #15
hi @lwakefield ,

all the request are going through the same client which is rate limited, [here](https://github.com/contentful/contentful-sdk-core/blob/master/lib/wrap-http-client.js#L28) , we have plans to improve that but the asset requests are not sent at once. but if you have a big amount of assets you could hit the hourly rate limit.

[2017-02-27 22:23] lwakefield commented on #15
If the hourly rate is set at 216000 as per the docs, it seems fairly unlikely that we are hitting that. Is there anyway to tell?

Regardless of where the rate-limiting is coming from, it would be nice if the importer could wait and retry instead of crashing. Is this on the roadmap by any chance?

[2017-02-28 08:58] Khaledgarbaya commented on #15
Yes, we have that on the roadmap to make the import tool more tolerant about errors.

[2017-03-02 04:52] jesseweed commented on #15
Any updates on this, or a good work-around? I'm currently stuck with the import tool _always_ throwing "429 rate limit exceeded" error after processing assets. Content type import successfully, asset process fine, but then it errors out after processing assets (after only about 3mins) before ever getting to importing entries. The space I'm trying to import has 207 assets, 160 entries and 15 conten

[2017-03-02 05:57] jesseweed commented on #15
Hey, just to update my progress. I cloned the repo locally and pulled in @zanzamar's changes from https://github.com/contentful/contentful-import/pull/8 and https://github.com/contentful/contentful-batch-libs/pull/80 and it seems to have solved my rate limit issue.

This is okay for now as a temporary solution, but it would be great of those PR's could get merged soon and save a lot of headache.

[2017-03-02 09:33] Khaledgarbaya commented on #15
hey @jesseweed I merged that for now, a new version should be released when the ci finishes the build.

[2017-03-02 09:41] jesseweed commented on #15
Awesome, thanks for getting that in @Khaledgarbaya!

[2017-03-06 23:08] temelj commented on #14
Hi,

thank you for your reply.  The limitation with the asset space requirement was part of the previous "Free" Plan. We had a few legacy plans hanging around and as they were asset count limited, an import was required without the assets.  This is sorted now.

[2017-03-06 23:08] #14 closed

[2017-03-06 23:12] temelj opened #16 "Data migration - keeping original created dates"
We've noticed that when content is imported the sys.createdAt date change to when the migration happens.
This is not a desired effect if data needs to be migrated between spaces.

Is there a workaround for this? Or does the system lock down the ability to specify a createdAt date string?

[2017-03-07 12:04] Khaledgarbaya commented on #16
Hi @temelj,
 current there is no way to change the createdAt using the API. I would suggest you have seperate fields for dates if you want to have more control over that.

Best,
Khaled

[2017-03-07 15:17] Khaledgarbaya opened #17 "Webhooks with credentials are can not be imported"
Right now the payload for a webhook with credentials are missing the `password` field which will cause an error when trying to import, as a workaround we should remove the `user` field and import the webhook

[2017-03-09 02:23] temelj commented on #16
Hi Khaled,

the existing data is in a production environment that needs to be migrated to a new space.
The new space will have some minor changes applied to the content types as per new specifications.

In the current production environment we retrieve entries by a given content type in order: "-sys.createdAt".

We would like to maintain the logic without introducing a new field (ie. "publishedAt"

[2017-03-09 05:49] temelj commented on #14
I would like to further contribute to this:

We needed some tests on import/export and having to import 1000+ assets, it slowed down the testing which would make this feature enhancement rather handy.

The workaround is to manually edit the exported.json file and remove the "assets" content.

Your file should look as follows:
[code]

[2017-03-09 08:02] Khaledgarbaya commented on #16
Hi @temelj,

The order is not guaranteed because of the JSON parsing, what you can do is use the contentful-import as a [library](https://github.com/contentful/contentful-import#usage-as-a-library) and apply some transformation to the JSON before feeding it to the contentful-import. We are working on having some transformation callbacks when importing like [here](https://github.com/contentful/cont

[2017-03-09 08:51] temelj commented on #16
I'm what way do you propose to do transformations to the json?

[2017-03-09 08:53] Khaledgarbaya commented on #16
You can put the dates you want in the `publishAt` field for example or sort the entries by `createdAt`

[2017-03-09 08:57] temelj commented on #16
I've considered that.  The population of publishedAt is not a problem.

And I've confirmed that in the exported json (from original space) the data is indeed in chronological order.

The import doesn't import it on that order.  I am not sure what happens to the json in the import operation.  I'm assuming that entries are bunched and sent to the apis for creation

[2017-03-10 19:48] scottsandersdev commented on #15
@Khaledgarbaya can this param be added to documentation? Also, looking through the source code, it looks like rate-limit can be passed to this tool... is that correct?

[2017-03-10 23:54] Khaledgarbaya commented on #15
Hi we are working really hard on fixing all of these issues, expect a major release soon with more stability, retry on server errors and better ratelimiting. It gonna be awesome !
until then I won't be able to update the docs because some of the stuff we have already is subject to change.

Cheers,
Khaled

[2017-03-13 01:49] temelj opened #19 "Question: importing data into space with existing (matching) entries"
I'm wondering from the contentful-import library point of view, if I have an existing destination space with some existing content types and entries,  when contetnful-import is called containing a json document with already used entry.sys.spaceid, does the data get completely overwritten or does the existing entry get updated with the field values from the json document?

[2017-03-13 08:03] Khaledgarbaya commented on #19
hi @temelj, the contentful-import tool is using the management SDK's [createEntryWithId()](https://github.com/contentful/contentful-management.js/blob/master/lib/create-space-api.js#L415) which as you can see in the code it uses `PUT`, when our endpoint receives a put request it checks if the entry exists it update it otherwise it creates a new one.

[2017-03-13 14:16] temelj commented on #19
Thank you Khaled,  this explains the behavior that I've observed.
Sorry, I didn't follow the code on this one.  I noticed this when I created a bunch of entries using createEntryWithId() method and then when I used contentful-import it would retain the original entry, but update it with the field data.

[2017-03-13 14:16] #19 closed

[2017-03-14 02:52] temelj opened #20 "Using as a library with other usage params (skipContentModel)"
[code]

The skipContentModel attribute gets ignored.  I confirmed that --skip-content-model works fine when it's called directly but not as a library.

[2017-03-14 08:18] Khaledgarbaya commented on #20
@temelj ah Sorry that was clear in the docs,
your code should look like this
[code]
as you can see [here](https://github.com/contentful/contentful-import/blob/master/lib/run-contentful-import.js#L26) in the code the skipContentModel should be in an `opts` object

[2017-03-15 00:30] temelj commented on #20
Thanks.
This time i looked in the code and missed the opts part completely.

[2017-03-15 00:30] #20 closed

[2017-03-20 20:33] dustinWeaver opened #22 "Content Types are not being created properly"
Hi,
  I've created an export from another space (Used the export tool) and am attempting to import it into an empty space.  The import process gives no errors, however, when I look at the content types, many of them are in "updated" status.  Attempting to publish these results in an error stating "You must omit a field before deleting it" error.

I've also noticed that on many of these content typ

[2017-03-21 22:09] AndrewBresee opened #25 "contentFile option does not work"
I am trying to upload content from a file that was just written to by contentful-export

**Observed**
exportDir properly writes to the file in contentful-export, but there is no way for "contentFile" to be used.

In contentful-import/lib/index.js:
[code]

contentFile is never handled.

**Steps to recreate**
Set import params as follows:
[code]
"content" is not being used because it is being read f

[2017-03-21 22:59] AndrewBresee commented on #25
It seems like bin/contentful-import the "import tool" is never called. So usageParams `var usageParams = require('../dist/usageParams')` are never properly set.

[2017-03-22 07:52] Khaledgarbaya commented on #25
This is a bug when using contentful-import as a node module, I will include the fix in the next beta release. Thanks @AndrewBresee

[2017-03-22 08:32] axe312ger commented on #25
fixed in #24

[2017-03-22 08:32] #25 closed

[2017-03-22 16:16] AndrewBresee commented on #25
Just as a note, I was able to get around this by importing the file, parsing it, and using it as content:

[code]

[2017-03-26 00:59] wan54 opened #27 "Rate limit error occured."
[code]

We have ~900 entries and the import never finishes.

Like contentful-export, perhaps we want to allow the rate limit to be set by the user for the import?

[2017-03-26 10:22] Khaledgarbaya commented on #27
Hi @wan54,
which version are you using ?

[2017-03-26 11:15] wan54 commented on #27
4.0.0

[2017-03-26 21:46] Khaledgarbaya commented on #27
Let me check with the backend team and get back to you

[2017-03-26 22:19] wan54 commented on #27
Thanks. It's still throwing the same error and eventually the import halts

[2017-03-27 07:55] Khaledgarbaya commented on #27
Hi @wan54,
can you create a support ticket and send us the space-id. Just mention the Github issue and they will direct you to me.
Best,
Khaled

[2017-03-27 22:11] lwakefield commented on #27
I am having the same issue. This happens mid-way through the import. It seems like this is there is some sort of bug managing async because when it gets to this stage, it looks like it is making a very large amount of requests to contentful >20/s (eyeballing the logs)

[2017-03-27 22:25] lwakefield commented on #27
Just as a follow-up, whether this was caused by the actual import, or was a result of the large amount of requests made afterward - I don't know.

BUT - It seems like I have hit the hourly api rate limit.This is particularly concerning considering it seems like api rates are not per space or user, so it has affected our entire organization. So in this case, attempting to run a backup has bricked o

[2017-03-28 07:53] Khaledgarbaya commented on #27
Hi @lwakefield,
1. The tool is using rate limit headers to determine when it should retry, but it seems like there is a backend issue. Would you please open a support ticket and tell us your spaceID, so the backend engineers can take a look.
2. The rate limit is per organization, so if you did hit the rate limit the entire org will be affected, even when using the web app.

[2017-03-28 12:54] lwakefield commented on #27
Thanks @Khaledgarbaya, I have dropped a line to support.

I know this isn't directly related to `contentful-import` but is definitely of note for this issue. The space which I was running the tool against seems to have been removed. I do not believe anyone in the organization has removed the space, so I suspect it has been removed with respect to this issue? I will deal with this through the suppo

[2017-03-28 15:58] #27 closed

[2017-03-29 13:30] dustinWeaver opened #30 "Add --skip-asset option"
Would be nice if we could have the option to skip moving assets.  I would expect this option to move content type, locales, and content.

[2017-03-29 14:17] Khaledgarbaya commented on #30
Hi @dustinWeaver Thanks for the input will add this to our list

[2017-03-29 14:32] dustinWeaver commented on #22
Just an update on this.   Suddenly the day after seeing this issue, it went away.  My best guess is that there were some sort of "ghost artifacts" left over in the new space from previous deletes.  I have no experienced this issue since.

[2017-03-29 14:32] #22 closed

[2017-03-29 14:34] dustinWeaver commented on #30
Thanks @Khaledgarbaya.  I understand the concern about the assets in content, but I think this would be a risk that the user takes.

Our main issue now is that we have many assets that are not being used in content and would rather just create them manually later.

As a workaround, I edited the JSON export file and deleted the entries in the "assets" section.

[2017-03-29 16:28] Khaledgarbaya commented on #30
It shouldn't be very hard to add actually, some`if`s will do the trick [here](https://github.com/contentful/contentful-batch-libs/blob/master/lib/push/push-to-space.js)

[2017-04-05 10:18] matt-lavinia opened #31 "Rate Limiting"
Ran an import this morning and am consistently getting an "Infinity" time window for the assets to create.

`Rate limit error occured. Waiting for Infinity ms before retrying....
Rate limit error occured. Waiting for Infinity ms before retrying....
Rate limit error occured. Waiting for Infinity ms before retrying....
Rate limit error occured. Waiting for Infinity ms before retrying....
Rate limit

[2017-04-05 11:31] axe312ger commented on #31
This is a known bug from an older version. Can you please upgrading your `contentful-import` module?

Please let me know if this solves your issue :)

[2017-04-05 11:33] #17 closed

[2017-04-05 11:33] axe312ger commented on #15
The last major release should have fixed this issue. Please open a new issue when this problem still occurs.

[2017-04-05 11:33] #15 closed

[2017-04-05 11:36] axe312ger commented on #13
The new major version is now aware of the rate-limit headers the API sends.

That means that the tool will wait the given amount of time and retry the request again afterwards.

Cheers,
Benedikt

[2017-04-05 11:36] #13 closed

[2017-04-05 11:38] axe312ger commented on #10
@andrewrutter could you solve the issue? :)

[2017-04-05 11:39] axe312ger commented on #7
@stefanjudis does this still happen?

[2017-04-05 11:41] axe312ger commented on #3
Closing issue since no feedback was received for several months. If this still occurs, feel free to open a new issue :)

[2017-04-05 11:41] #3 closed

[2017-04-05 11:43] axe312ger commented on #10
Ohh, actually that was fixed in the latest version. Please upgrade your local version and open a new issue in case this problem still occurs.

[2017-04-05 11:43] #10 closed

[2017-04-05 13:37] stefanjudis commented on #7
Okay I just ran three imports that showed the same result.
I'll close for now and 'll let you know if I come across this behavior again.

Thx. :)

[2017-04-05 23:50] matt-lavinia commented on #31
Verified running v4.1.0 - re-running today and will add further details if needed.
![image](https://cloud.githubusercontent.com/assets/742861/24731583/15396bfa-1a39-11e7-999d-2be0982498ca.png)

[2017-04-05 23:51] matt-lavinia commented on #31
I'm seeing the warnings regarding Node v and will try a couple of things with Node version updates.

[2017-04-06 08:07] axe312ger commented on #31
@matt-lavinia alright. Upgrading to 4.7 (or 4.8.2) shouldn't cause that big problems. Good luck! :)

[2017-04-07 00:22] #31 closed

[2017-04-27 12:58] Khaledgarbaya commented on #16
I am closing this issue for now, feel free to create a new one if needed

[2017-04-27 12:58] #16 closed

[2017-05-02 04:43] temelj opened #35 "import issue "cannot read property 'sys' of null"
I am using the latest contentful-export v4.5.2 to generate an export of a space-id: 3d7n2zsyfd75

I am using the latest contentful-import v4.3.0 to import the data into a newly created space-id: ga4t540okd9e
[code]

[2017-05-02 06:51] temelj commented on #35
An Export/Import works using the following versions:

contentful-export v4.3.0
contentful-import v4.2.0

[2017-05-02 09:21] #35 closed

[2017-05-02 09:22] axe312ger commented on #35
Hey @temelj,
sorry for the inconvenience, your bug is related to a rare edge case which we forgot to cover in the last refactoring.

The next version of the batch-libs should be published in a few minutes, please upgrade your dependencies, the bug should be gone then.

If it still appears, feel free to reopen the issue :)

All the best,
Benedikt

[2017-05-02 09:30] temelj commented on #35
Hi,

Thank you for that update. I will re-test with the updated libs.

I have another question as I've reverted to the older versions, the asset
media count in the original space is LESS than in the destination space.

Im assuming that in the contentful website,  the ALL media count does not
include Archived items. The count does add up in that case.

However, the contentful-import tool treated pu

[2017-05-02 10:34] temelj opened #36 "entry counts from source to destination"
I am not getting the same counts from source space entries to destination space entries.

If I view the entries via the contentful.com website, I get 250 total entries out of which 20 are draft.

So if I export this, i'd expect my destination space to have 230 entries?

I'm getting 128.
The contentful-import tool stated that it imported 230.

[2017-05-02 11:18] axe312ger commented on #35
@temelj I just tried it out and my draft assets stayed draft while the tool published the ones, that were published before.

Please try with the newest version and come back here if the error still occurs. If you think it is related to your space/data, feel free to file an issue including your space id's here: https://support.contentful.com/hc/en-us/requests/new

Benedikt

[2017-05-02 11:21] axe312ger commented on #36
So the web app tells you it got only 128 entries while the import tool told you that it imported 230?

Are you sure there are no filters active in the web app?

You might file an issue here, so we can have a look at your data/try it on our own: https://support.contentful.com/hc/en-us/requests/new

[2017-05-02 14:19] temelj commented on #35
I can confirm that I'm using the latest version (which includes the contentful-batch-libs v5.6.2)

The contentful-import took 35 minutes.
Content Types         11
Editor Interfaces        9
Entries                   230
Assets                  1359
Locales                      1
Webhooks                 0
Roles                        3

Assets are fine with a count of 1359.
Entries is reported to

[2017-05-02 14:22] temelj commented on #35
Close this one

the original issue is resolved with updating to use contentful-batch-libs v5.6.2

[2017-05-02 14:23] temelj commented on #36
Yes, you are correct.  I've updated the tooling re-ran the import and its not quite right again.

I can confirm that I'm using the latest version (which includes the contentful-batch-libs v5.6.2)

The contentful-import took 35 minutes.
Content Types 11
Editor Interfaces 9
Entries 230
Assets 1359
Locales 1
Webhooks 0
Roles 3

Assets are fine with a count of 1359.
Entries is reported to be 230, howe

[2017-05-03 01:44] temelj commented on #36
I have had some success:

I edited the exported JSON document, cleared the `assets: [], ` and re-executed the contetnful-import command.

It managed to import all 230 entries correctly. However in terms of the DRAFT entries count, I've only got 4 in the destination whereas the source has 20 draft entries.

[2017-05-03 09:00] axe312ger opened #37 "Implement listr"
We should implement the [listr](https://github.com/SamVerschueren/listr) library as we did for `contentful-export` to achieve the same nice output.

[2017-05-03 09:32] axe312ger commented on #36
I guess no errors where displayed?

Also, can you please do me a favour and check if the draft entries you are talking about appear in the exported JSON file?

I want to find out if the problem exists on the export side or import side of the tool chain.

[2017-05-03 16:01] tomasdev opened #38 "Better error reporting when passing wrongful data"
`ERR! TypeError: expecting an array or an iterable object but got [object Null] `

Related to #6. It is cumbersome to debug when passing the incorrect data (in any user case other than trying to import something else than a exact export from another space) and we get this error. Ideally, it would at least say trying which property it failed.

Thoughts?

[2017-05-03 16:09] Khaledgarbaya commented on #38
Hi @tomasdev ,
You are right, this is on our list definitely.
Best,
Khaled

[2017-05-03 16:11] tomasdev commented on #38
@Khaledgarbaya what would be the best way of debugging where it is breaking currently? I'm looking at https://github.com/contentful/contentful-import/blob/master/lib/index.js

[2017-05-03 16:26] tomasdev commented on #38
Update: `contentTypes` and `roles` seem to be mandatory when importing content.

[2017-05-04 00:25] temelj commented on #36
To make explanation a bit easier, i'll name the original environment where the data is being exported from: PROD and the destination space STAGING.

From the contentful.com website, in PROD I have 250 entries (if i view All)
This includes:
230 published entries
20 draft entries
8 archived entries

calling contentful-export on the PROD data, I get 230 entries in TOTAL. My assumption is that only th

[2017-05-04 09:14] axe312ger commented on #38
Hey @tomasdev,

thanks for investigating further, as Khaled mentioned, that is on our list and we will come to proper error reporting and more as soon as possible.

I will keep you updated in this issue when sth happends,
all the best,
Benedikt

[2017-05-04 09:28] axe312ger commented on #36
@temelj yeah, actually I would love to have a look since we did not come across this in our internal tests (We do more that what you can see here in the CI)

But our test Space data is way more fresh than what you might have in there since we are generating this data which excludes weird stuff humans might bring in.

Please do not share your data here in Github, open a ticket here: https://support

[2017-05-04 12:03] #11 closed

[2017-05-04 13:56] stijlfigurant opened #40 "TypeError: Cannot read property 'webhooks' of undefined"
When running contentful-import from the command line (globally installed via npm)
[code]

[2017-05-04 14:06] #40 closed

[2017-05-04 14:08] stijlfigurant commented on #40
Thanks! was about to submit this fix myself :)

[2017-05-05 00:45] temelj commented on #36
Hi Benedikt,

I have created a support ticket and attached the exported PROD data.

However, I have noticed another discrepancy between the export data.

I have 2 entries that have previously been published where one references the other.
The referenced entry has been set to draft. It appears that because the parent entry references a draft entry (as of now), the contentful-export no longer includ

[2017-05-05 04:32] temelj commented on #36
Hi,

I've had some luck importing the production data to a staging space including all assets, entries and so on.
Meaning that the counts add up.

However, I have noticed that executing the contentful-import and contentful-export version cannot be controlled by "npm install -g <package>@version' because every time you get a particular version, the batch-libs actually get the latest. Which at the t

[2017-05-08 02:43] temelj commented on #36
Is it expected behaviour if i use the `--include-drafts` option in the contentful-export to get archived entries from the source space over to the destination space (in draft)?

That is what I'm seeing in my tests.

[2017-05-16 10:13] stefanjudis commented on #7
Okay, I'm running in the same behavior again.

I exported this file using `contentful-exporter`

https://gist.github.com/stefanjudis/4a122ff6d921920b0959b3f6fae866c1.

The import of this file lead to only one published entry.

![screen shot 2017-05-16 at 12 11 55](https://cloud.githubusercontent.com/assets/962099/26101289/e18fd934-3a30-11e7-8047-9417cbe51ff2.png)

But I clearly exported 4 publishe

[2017-05-16 11:36] Khaledgarbaya commented on #7
@stefanjudis that's a normal behaviour, if you want the drafts to be included you need to specify `--include-drafts` when exporting.
Can you do a quick comparison between the imported entries and what's in the json file ?
all entries in the json should be imported correctly.

[2017-05-16 11:46] stefanjudis commented on #7
The problem is that I exported following state 👇

![screen shot 2017-05-16 at 13 45 59](https://cloud.githubusercontent.com/assets/962099/26104409/051082c0-3a3e-11e7-9aee-bfb939ac7738.png)

And ended up with the state described in https://github.com/contentful/contentful-import/issues/7#issuecomment-301737896.

[2017-05-16 11:48] Khaledgarbaya commented on #7
can you share the space with @axe312ger, he can make some tests

[2017-05-19 09:51] benben opened #43 "Add ability to upload images"
I want to upload the images in the same way as I downloaded them while exporting my space with contentful-export.

[2017-05-19 12:50] Roblinde opened #44 "Background color of info messages on Windows"
With the standard background of PowerShell in windows you can't really read the info messages:

![image](https://cloud.githubusercontent.com/assets/1835323/26248396/81cfbed2-3ca2-11e7-9a7a-c5e6eb2d80e8.png)

[2017-05-19 12:59] axe312ger commented on #44
Related to #37 or should at least be fixed together with it :)

[2017-05-19 16:42] willalbone opened #45 "Importer exceeds rate limit for organization"
The importer does not cope well when importing a large number of entries and exhausts the rate limit available for the associated organization with retry wait times stretching from around 1000ms to 900000+ms. This then blocks all read requests to other spaces within the same organization. The importer should account for this and throttle it's requests so as not to exceed Contentful's rate limit.

[2017-05-22 07:30] Khaledgarbaya commented on #45
Hi @willalbone, which version of the contentful-import are you using?

[2017-05-22 08:06] willalbone commented on #45
4.4.2

[2017-05-22 08:37] Khaledgarbaya commented on #45
The tool is using the SDK underneath, and rate limiting is handled there. but the number looks a bit weird. I'll look into it asap, thanks for reporting.

[2017-05-22 09:02] willalbone commented on #45
Taking a look through the code my guess would be this is originating in contentful-batch-libs/lib/creation/createEntries as it is calling Bluebird's Promise.map with infinite concurrency compared to other Promise.map calls which are specifying concurrency of between 4 and 6

[2017-05-22 09:14] Khaledgarbaya commented on #45
Oh yeah, you are right it is [here](https://github.com/contentful/contentful-batch-libs/blob/master/lib/push/creation.js#L30). I will push a fix today.

[2017-05-22 09:40] Khaledgarbaya commented on #45
@willalbone this [PR](https://github.com/contentful/contentful-batch-libs/pull/116) should fix it. I'll try to get it merged today

[2017-05-22 12:46] Khaledgarbaya commented on #45
this is now fixed in https://github.com/contentful/contentful-import/pull/46

[2017-05-22 14:35] willalbone commented on #45
Perfect, thanks!

[2017-05-22 14:35] #45 closed

[2017-05-23 16:35] svdbrg opened #47 "(0 , _partialRight.partialRight) is not a function when importing to empty space"
Hi all!

I've managed to do an export of one space and now trying to import that data to a completely new space. I am however running into a problem (see error below).

I'm running the latest (v 4.4.3) version of contentful-import straight from the command line.

Any thoughts or clues as to how to solve this or what might be missing?

`contentful-import --space-id [spaceid] --management-token [tok

[2017-05-23 16:44] Khaledgarbaya commented on #47
Hi @svdbrg ,
I just released a fix in the batch-libs in few minutes a new patch should be released.
If you update contentful-import in few minutes you should get it

[2017-05-23 16:58] Khaledgarbaya commented on #47
This should now be fixed

[2017-05-23 16:58] #47 closed

[2017-05-23 17:03] svdbrg commented on #47
That was VERY fast! Works great now. Many thanks!

[2017-06-01 17:41] nealalpert opened #49 "Infinite publishing loop"
While attempting to import a space that has been exported with the contentful-export tool we're running into an infinite loop.

<img width="544" alt="screen shot 2017-06-01 at 12 35 51 pm" src="https://cloud.githubusercontent.com/assets/2166663/26692597/e7f99b6e-46c6-11e7-8770-39cf2d5b662b.png">

The item in question and its children all seem to be in the published state so we're fairly perplexed.

[2017-06-01 20:11] eutopian commented on #49
I'm getting the same error... any luck?

[2017-06-01 20:28] nealalpert commented on #49
Yes and no.  I was unable to determine why the export in question was failing to import.  It seemed to stall on one of the global navigation links that were part of the global header/footer object that I posted.

I re-exported the space with the option not to include draft content (according to the documentation on contentful-export the default export behavior excludes draft content so this extra

[2017-06-01 20:38] eutopian commented on #49
Thanks for the suggestion... I restarted the import, seems to be running okay at the moment, but if it runs into the loop again I'll exclude the drafts manually as well (or maybe you actually just re-executed the task like me... I actually suspect it's a rate limit thing)

[2017-06-01 21:26] eutopian commented on #49
Anyhow... an update... I figured out what the problem was for me tho... some of the contents that were previously published in one space, now have added required fields that are blank. These contents can't get published when I import, and anything they're linked to that requires them to be published could also not get published.

[2017-06-01 22:05] nealalpert commented on #49
I assumed the rate limit messages were a kind of throttling to prevent DDoS attacks on Contentful servers but that's just speculation on my part.

We did have some published content that had a required field added to the content model after they were published but it didn't seem to cause the infinite loop.  It did cause the import script to be unable to publish them after they were imported though

[2017-06-02 12:24] #49 closed

[2017-06-02 12:31] axe312ger commented on #49
`v5.8.2` of contentful-batch-libs was released to address the problem for now. We will improve this further next week, as you see here: https://github.com/contentful/contentful-import/pull/48

[2017-06-30 15:20] alexkafer opened #57 "Forbidden for space that I know I have access to"
Hello,

We're working on duplicating a space. Our thought process is to export the one space and import into a new one using the following config files

**export-config.json**
[code]

**import-config.json**
[code]

The exporting works just fine. All the data shows up and has no errors.

The importing runs into some forbidden issues:

[code]

I've removed various IDs from the code above, shown with

[2017-06-30 15:25] axe312ger commented on #57
Looks like you reached your locale limit. Try to delete unused locales in the space you are importing to :)

[2017-06-30 15:29] alexkafer commented on #57
We only have one locale right now, with the plan supporting up to 20. Is this something I should be talking to Contentful support about?

<img width="1399" alt="locales" src="https://user-images.githubusercontent.com/6464599/27742557-c8c14c6e-5d7e-11e7-8351-35122007a9f2.png">

[2017-06-30 15:43] alexkafer commented on #57
Ah, figured it out. While there was only one locale in the importing space, we have two spaces on our plan and the other one (the export) was maxed out at 20.

I now know the issue, thanks @axe312ger for your assistance!

[2017-06-30 15:43] #57 closed

[2017-07-11 15:30] boblington opened #59 "Getting HTTP 500 from contentful"
While importing, we've been getting a few HTTP 500 where the message and details are empty. In addition no request ID can be found in the header.

Full error dump
[code]

[2017-07-11 15:49] axe312ger commented on #59
Hey Bob,

can you please open a ticket via https://support.contentful.com/hc/en-us/requests/new?

Since the error output is not really helpful, we might need your space_id to identify the request that caused the 500. Via the ticket, we can handle this privacy aware :)

Add a link to this GitHub issue to the support ticket, so we make sure it ends up on my desk :)

Benedikt

[2017-07-11 15:49] axe312ger commented on #44
will be fixed via #58

[2017-07-12 22:23] natsumi opened #60 "can't ready property of uploadform error on import"
I managed to succesfully export one of my spaces but on import I get this error:

[code]

[2017-07-14 09:04] axe312ger commented on #60
Hey Natsumi,

looks like you got unprocessed assets in your space. Check your exported json for `"uploadFrom": null` or sth similar. Navigate to that asset at https://app.contentful.com/ and make sure it is processed. Reuploading might also help.

All the best,
Benedikt

[2017-07-17 17:02] tomasdev commented on #38
Perhaps check around "Finished importing all data" if `response` is an empty array and it's not supposed to be (i.e. original entries array isn't) throw an error instead of saying it all went okay?

[2017-07-17 23:50] tomasdev commented on #38
Found out:
- "Validation error"s coming back from the API are not coming back into `createEntryInDestination` or `createInDestination` of `creation.js` in `contentful-batch-libs`
- Probably a bug around the way `handleEntryCreationErrors` works

`(node:18133) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 3): InvalidEntry: {`

[2017-07-18 11:29] axe312ger commented on #38
@tomasdev we are on it -> https://github.com/contentful/contentful-import/pull/58

[2017-07-18 15:19] tomasdev commented on #38
@axe312ger i'll check it out and let you know if it throws on ValidationErrors

[2017-09-21 19:18] wiledal opened #62 "Bad Request: "You need to omit a field before deleting it""
Hey,

I cannot import a space that has deleted fields in a content model.

[code]

Basically, we need to "Disable in response" before we can delete a field.

I get that this might be a design choice when it happens in the visual CMS, but it makes properly syncing spaces impossible.

Could we add a `--force` flag to allow "insecure updates" to happen?

[2017-09-22 09:28] axe312ger commented on #62
There is no option to enable insecure updates in our API.

To properly migrate your content types, we just released https://github.com/contentful/migration-cli which takes care of omitting fields before deleting them.

I recommend you to use the `--skip-content-model` to import content and use the migration-cli to do your field transformations.

[2017-09-22 09:43] axe312ger commented on #62
Okay, we discussed this and decided to integrate omitting of the fields to this tool as well. I still recommend the migration-cli for more complex usage, but expect a feature release for the import tools soon :)

[2017-09-25 20:33] wiledal commented on #62
Hey, that migration tool looks powerful, but building the models becomes a less intuitive process.
We enjoy using the visual CMS to build the content model for rapid results.

Thanks!

[2017-10-25 12:21] nursahketene opened #66 "TypeError: Cannot convert undefined or null to object"
Getting error when trying to import data to another space (duplicate space for testing ui extensions)

Stack

[code]

[2017-10-25 13:13] Khaledgarbaya commented on #66
Hi @nursahketene ,

There is a rare that we still to investigate when asset.fields.file is null which is causing a crash.
I just released a fix for that in the contentful-management lib. It is a patch so if you install the contentful-import again you should get it (make sure to delete all the lock files or shrinkwrap)

Please update and try again, if you still have the problem please tell me.

Bes

[2017-10-31 18:17] nursahketene commented on #66
Thanks Khaled. I will give it a try tomorrow. and let you know about the progress.

[2017-11-02 18:30] canvas-drw commented on #66
I am getting the same issue as above when trying to import. Any help would be much appreciated.

[code]

[code]

[2017-11-02 19:08] axe312ger commented on #66
We are working on a fix, but this is not trivial to fix. I will keep u posted here :)

[2017-11-22 22:16] sethreidnz commented on #66
No update on a fix?

[2017-11-23 09:12] Khaledgarbaya commented on #66
Hi all,
It should be fixed in the next version `npm install -g contentful-import@next`.
Sorry for the late update.
Khaled

[2017-11-23 09:12] #66 closed

[2017-11-24 05:04] sethreidnz commented on #66
I continue to struggle to get any sort of meaningful import. I now get a very obtuse error of `TypeError: Cannot read property 'processForAllLocales' of null`. Is there any other way to reliably move content from space to space? I need to move production data into a QA space for development and its impossible. Can I make it ignore assets?

[2017-11-24 13:12] Khaledgarbaya commented on #66
Hey @sethreidnz are you sure you are using the `next` version ?

[2017-11-24 23:38] sethreidnz commented on #66
`5.0.2-beta2`

[2017-11-25 00:06] sethreidnz commented on #66
[code]

[2017-11-27 20:26] sethreidnz commented on #66
Any ideas? I literally cannot import anything except some of the assets, and then it blows up. Is it possible to give us a new config value that is "skipAssets" so that we can import content and side step this entire problem while its being fixed? Do I need to also install the @next version of the export?

[2017-11-28 09:40] Khaledgarbaya commented on #66
Hi @sethreidnz can you try now with `5.0.2-beta3`

[2017-11-28 21:14] sethreidnz commented on #66
[code]

[2017-11-28 21:35] sethreidnz commented on #66
For anyone who wants a work around, you just need to delete all assets that don't have an actual file saved to them and it will work.

[2017-12-06 12:47] moreguppy opened #71 "Cannot convert undefined or null to object"
Unable to import, I think because of a `null` asset—but does this mean draft assets? Or something else to do with the type of file? I have a couple of "markup" files in there perhaps that is what is throwing it?

Here is some of the logs:

[code]

[2017-12-06 14:05] Khaledgarbaya commented on #71
hi @moreguppy ,
can you try with the next version `npm i -g contentful-import@next`.
Please let me know if you still facing the same issue.

[2017-12-07 10:23] moreguppy commented on #71
@Khaledgarbaya worked a treat thank you!

[2017-12-07 10:23] #71 closed

[2017-12-15 12:22] TorbenDalgaard commented on #3
Having the same issue.

contentful-import@5.0.2-beta4
contentful-batch-libs@8.0.0-beta4

 Any suggestion ?

"ts": "2017-12-15T12:13:36.234Z",
    "level": "error",
    "error": {
      "stacktrace": [
        "TypeError: Cannot read property 'sys' of undefined",
        "/Users/my_user/.npm-global/lib/node_modules/contentful-import/node_modules/contentful-batch-libs/dist/push/push-to-space.js:344:

[2017-12-15 12:53] TorbenDalgaard commented on #66
This is not a viable solution as this will happen any time a content editor add's an asset, publish it and then deletes the image.

Any help ? (using 5.0.2-beta4)

[2017-12-15 14:21] axe312ger commented on #3
Looks like your entity is malformed. We are aware of these cases and looking for solutions, one might be:
https://github.com/contentful/contentful-batch-libs/pull/137

[2017-12-15 14:25] axe312ger commented on #3
If it is urgent, feel free to create a support ticket at https://www.contentful.com/support/. We can help you there more efficent since we can exchange private information like your imported dataset to analyse it here in the office.

Have great weekend,
Benedikt

[2017-12-20 23:27] christineywang opened #74 "Potential issue in push-to-space.js file"
Hello,

A few users have come across an issue with the import tool. A possible error could look like this:
```TypeError: Cannot read property 'sys' of undefined```

The resolution seems to come with modifying the ```push-to-space.js``` file in the node_modules package.

Example path to the file in question:
```/Users/christinewang/.npm/lib/node_modules/contentful-import/node_modules/contentful-bat

[2017-12-21 10:22] Khaledgarbaya commented on #74
Hi @christineywang,
Thanks for your input usually an entry should have a `sys` property.
I will look into the issue asap.
Best,
Khaled

[2017-12-21 17:42] dustinaleksiuk commented on #74
I'm having a similar error, but in a different place. The line in the stack trace is when it attempts to access the sys field on the contentType. This is the stack trace from the log file:

[code]

The chunk of code that fails is this:

[code]

[2017-12-21 22:52] Nappstir opened #75 "Assistance w/ importing a json file to Contentful."
I currently took data from a `.sql` file and converted it to `.csv`, to which I then converted that `.csv` file into `.json` data. I am now trying to import that into Contentful. Here is the following command I am running:

`contentful-import --space-id "spaceID" --management-token "accessToken" --content-file "data.json"`

Here is the following response that I get:
<img width="924" alt="screen sh

[2017-12-22 10:34] Khaledgarbaya commented on #74
Hi @dustinaleksiuk and @christineywang  can you link the new branch from the bat libs and test again, if it fixes your issue
https://github.com/contentful/contentful-batch-libs/pull/138

[2017-12-22 13:14] Khaledgarbaya commented on #75
Hi @Nappstir,
1. the `--management-token` is the read and write token and it is not the content Delivery token
you need to click on APIS --> content management tokens tab
Check screenshot.

![screen shot 2017-12-22 at 14 11 23](https://user-images.githubusercontent.com/1156093/34299226-155d0d7e-e722-11e7-8448-283798264e52.png)

2.you need to structure your json in a format that `content-import` to

[2017-12-27 09:26] axe312ger commented on #75
Hey there,

another thing that could help you:

1. create a content-model in our web app/via the [migration-cli](https://github.com/contentful/migration-cli) that matches your data
2. add one example entry for every type
3. export your space via contentful-export
4. use that file structure as blueprint to write your data transformations as Khaled mentioned above
5. import your transformed json fil

[2017-12-29 00:45] sethreidnz commented on #66
Yeah its not really a "workaround" as much as a stop gap measure I used to get my data in once.

[2018-01-02 10:19] #74 closed

[2018-01-04 10:53] axe312ger commented on #7
This is fixed via multiple fallbacks now in multiple releases in the past.

[2018-01-04 10:53] #7 closed

[2018-01-04 10:54] axe312ger commented on #36
Does this still happen to you @temelj? Should be fixed since quite some time :)

[2018-01-04 10:54] #37 closed

[2018-01-04 10:54] #38 closed

[2018-01-04 10:54] axe312ger commented on #44
Fixed in latest major :)

[2018-01-04 10:54] #44 closed

[2018-01-04 10:55] #59 closed

[2018-01-04 10:55] axe312ger commented on #60
Could be fixed now, still some cases remain where this might happen. We are working on it.

[2018-01-04 10:56] axe312ger commented on #60
@natsumi does it still happen to you?

[2018-01-04 10:57] axe312ger commented on #75
@Nappstir Did it work out for you? :)

[2018-01-08 11:57] benben opened #76 "do not show warnings if everything was successfully imported"
After a successful import, it still prints all the rate limit warnings, which always make me scroll up just to see that despite these warnings, everything went ok. Maybe we can avoid showing these?

[2018-01-08 13:31] axe312ger commented on #76
Yes, we are about to group these errors so only one single line will be shown. Should help.

We want to rework the parallelism of the tool, also. Should reduce the warnings, also.

[2018-01-09 14:39] aleks-dfds commented on #30
+1 on this. For some applications, importing assets slows things WAY down, and for some applications (like automated tests), assets may not be needed at all.

[2018-01-09 15:42] Khaledgarbaya commented on #30
So after a second thought, I think adding a dynamic `--skip` parameter would be better.
the usage will be something like this.
[code]
or
[code]
Both options will be supported.

@aleks-dfds @dustinWeaver WDYT?

[2018-01-09 15:54] dustinWeaver commented on #30
I like the first option best.  Less typing and allows you to bundle the "skips" together.

[2018-01-09 16:06] christineywang commented on #74
@Khaledgarbaya this may still not be working since we are still seeing this issue with users. I will test today.

[2018-01-19 22:44] christineywang opened #77 "Assets failing to publish"
Hello,

I am filing this on behalf of another user (although, I've come across the same issue myself when performing imports).

Often, when using the import tool, one/some of the assets and/or entries will fail to publish. This is a bit hard to troubleshoot and I am not able to consistently recreate the issue (although I wonder if it is related to rate limiting).

Is there a way we could get some

[2018-01-22 09:41] axe312ger commented on #77
Hey Christine,

the tool is already rerunning failed publishes to workaround issues with linked entities which are not published at that point of time. It queues the entities and will abort as soon it could not publish at least one entity per run: https://github.com/contentful/contentful-batch-libs/blob/master/lib/push/publishing.js#L70-L109

For the assets: There are multiple reasons why this mig

[2018-01-24 10:33] wiledal commented on #62
Any update on this? Would be very useful to us currently.

[2018-01-24 12:40] floelhoeffel commented on #62
Hey @wiledal - we know with the current offering working with multiple environments is a bit tricky. However we are about to release some new features on the API side which will make this a lot easier soon. Another thing we are considering for the migrations tooling is to support a workflow where you can generate a migration script from an existing content model.

In the meantime, we recommend to

[2018-01-24 12:45] floelhoeffel commented on #62
The reason why we don't want "merging/syncing" functionality in the import export tooling is that there is so many side effects. The only way to handle that fail save is through a migration script. As mentioned in my previous message, generating a migration script from a web app curated content model is a very interesting use case we are considering to add to the tooling.

[2018-01-25 19:37] Nappstir commented on #75
@axe312ger Yes! I was able to figure out the management token just as you had posted that answer. After that, I built a mock of what I wanted the data to look like and exported it. Once I saw how contentful wanted the json to be formatted I was able to get it to work from there.

Thank you!

[2018-01-25 19:37] #75 closed

[2018-01-25 19:45] Nappstir opened #82 "[help wanted] [question] Linking asset references to imported data"
Hey guys,

So I have added all my assets to `Contentful` and now I need to upload some 'Articles' that reference said assets. Now I currently know how to do this by applying the `asset id` to the json formated file like so:

[code]

So I can see that I can do `"type": "Link", "linkType": "Asset", "id": "<IMAGE_ID>"`, but I'm wondering if I can do something other than `id` to reference the asset I

[2018-01-26 12:17] axe312ger commented on #82
Hey Travis,

sorry, but our links only support the pattern you are already using. Some more details might be found here: https://www.contentful.com/developers/docs/concepts/links/

Best,
Benedikt

[2018-02-09 10:35] tmarciszewski commented on #60
I'm getting the same error. After exporting from space 6ms84vgrdq84 (i had a problem with exporting - was able to export without assets) and trying to import into newly created space er2cqihzfk30 I'm getting error mentioned above.

[2018-02-09 10:39] axe312ger commented on #60
@tmarciszewski if you get the exact same error, your export.json does contain faulty assets. Try to delete them all or track down the faulty one via the asset id you will get from the errors log.

We are working on payload validation to make this more clear, see #81

[2018-02-09 10:40] tmarciszewski commented on #60
Error log does not seem to be very helpful
[code]

[2018-02-14 10:28] johanrex opened #84 "Create missing locales on import"
Ideally I'd like to export one space and import to another. Currently this results in a lot of these errors if the spaces don't have the same locales configured:

If you have a fast moving space with lots of new locales in an expansive phase it gets tedious to manually create the locales and keep them in sync over several spaces. In the README.md it is mentioned as a known limitation of the tool t

[2018-02-14 12:16] axe312ger commented on #84
Hello Johan,

the import tool assumes the same content model structure for the source and destination space. The import/export tooling is not made for structure migration. To apply migrations to your structure, we created the [migration-cli](https://github.com/contentful/migration-cli).

This same structure is especially relevant for locales, since the default locale is permanent and it is not pos

[2018-02-14 12:45] johanrex commented on #84
Hello Benedikt.

From your description above I gather that as long as the fallback locale is the same the missing locales in the destination should be created. Was that perhaps the wrong conclusion?

Both import and export spaces use "U.S. English (en-US)" as default locale. Yet on import I see the error "can not find fallback locale within space locales". Is this expected behavior?

[2018-02-14 12:52] axe312ger commented on #84
Yes thats correct, they should be created.

Now I guess I got the issue. It might be the case, that the tool tries to create a locale with a fallback locale, which does not exist at that point of time.

Can you try reordering the locales in your json file in a way, that locales that are used as fallback, come first, the others later on?

The tool iterates the array in the json in the given order t

[2018-02-14 14:59] johanrex commented on #84
I only export the json with the export tool and import it with the import tool. Is there a way to tell the export tool to use a specific sort order?

Writing code to change the order myself would require development time that I unfortunately don't have at this point.

Thanks.

[2018-02-14 15:09] axe312ger commented on #84
No there is not such an option.

I'd just like you to try it once manually so we can verify this is the actual issue. If this is the case, we could transform this into a bug ticket and we will act on it. No coding involved on your side :)

Best,
Benedikt

[2018-02-15 10:25] johanrex commented on #84
What I mean is that the export file is ~130000 lines of json. It would take a lot of work to change the order manually and I'm not familiar enough with the format to construct a smaller test case.

[2018-02-15 17:50] christineywang opened #85 "Issues with the proxy flag"
Hello,

We are having issues importing content using the `--proxy` option.

Here is the flag we are using (some values have been changed):
`--proxy proxy.something.com:3333`

<br>

The entire command looks like this:
[code]
<br>

When we use the proxy option, the import fails on this line:
[code]
<br>

We are able to import content when we don't use the proxy option and the proxy option works when

[2018-02-16 11:06] axe312ger commented on #84
The file has a very simple structure, see here: https://github.com/contentful/contentful-export#exported-data

You would just need to reorder the locales, nothing else. So only a few of the ~130000 lines would be affected.

I can reproduce my assumption what the cause for your issue might be, but I can't give you a timeline when I will find time for this.

Best,
Benedikt

[2018-02-16 11:15] axe312ger commented on #85
Hey Christine,

you are using it the right way 😱

The error message is not coming from our tools. It must be from on of our dependencies or node itself. A quick look at google actually didn't give to much information. I have to look more detailed.

You gave me a part of your output, is my assumption correct, that importing of locales, content types and publishing of content types worked fine and i

[2018-02-16 14:23] johanrex commented on #84
Here's the locales from the export. As far as I can tell everything looks fine.

  "locales": [
  ],
    {
      "name": "U.S. English",
      "code": "en-US",
      "fallbackCode": null,
      "default": true,
      "contentManagementApi": true,
      "contentDeliveryApi": true,
      "optional": false,
      "sys": {
        "type": "Locale",
        "id": "6MhZFelR6ChcB3MBxofzf0",
        "vers

[2018-02-16 15:24] axe312ger commented on #84
Alright, thanks. I will have a look and come back to you :)

[2018-02-16 16:03] axe312ger commented on #84
I found the issue, it looks like the concurrency of the creation process causes the issue here. We are planning to rework that process soon. I will make sure that this will be fixed when that refactoring happens.

Best,
Benedikt

[2018-02-16 21:34] christineywang commented on #85
Hi @axe312ger,

Yes, I believe everything before `Importing Editor Interfaces` worked (I didn't test this out myself with a proxy flag).

What the user sent me was where the import failed and all the succeeding actions that couldn't be completed:

[code]

Thanks!

[2018-02-19 12:14] axe312ger commented on #85
So I checked the code, Editor Interfaces are handled differently, but they get the proxy settings passed.

@christineywang I need more details about the proxy, the setup and the actual proxy configuration.

Please open a support ticket and we will continue over there since I might need sensitive data to properly solve this.

Thanks a lot,
Benedikt

[2018-02-19 12:14] #36 closed

[2018-02-19 12:16] axe312ger commented on #60
We are about to merge https://github.com/contentful/contentful-import/pull/81 which will identify the faulty assets before the actual import is run.

I'll update you when we released a new version.

[2018-02-19 12:17] axe312ger commented on #82
As mentioned, Links resolve via the id of the linked entity. The API does not support other kind of links. Closing here.

[2018-02-19 12:17] #82 closed

[2018-02-20 17:09] christineywang commented on #85
Got it!

I will escalate the internal ticket once I get more information from the user. Thanks!

[2018-02-21 08:47] #85 closed

[2018-02-28 22:30] gburgett opened #88 "Feature request: '--delete' option"
We have a need to backup the content from our production space, and import it into our testing space.  We would like to do this regularly in order to test primarily our migration strategy when we deploy new code.

One option we have already explored is deleting our test space and then creating a new test space via an import.  Unfortunately this means we have to update all our environment variables

[2018-03-01 13:16] floelhoeffel commented on #88
Hey gburget,

Thanks for the suggestion! We are currently testing a new feature on the backend which will make it very easy to clone content into environments. This should hopefully address you usecases too so you don't need to move entire spaces entry by entry around through tooling. We are aiming for a public release soon and I'd like to ask you for a little patience - it's worth it.

Thanks,
Fr

[2018-03-01 13:16] #88 closed

[2018-03-01 20:53] gburgett commented on #88
Thanks!  Exactly what we were looking for

[2018-03-02 23:35] benwaffle opened #93 "Breaks on empty asset"
If you create a draft asset with no fields filled in, export that, and try importing it, this tool breaks

[2018-03-05 09:02] axe312ger commented on #93
Can you please define `breaks`?

Our new payload validation introduced in `v6.2` should have catched this and tell you about your malformed asset.

Best,
Benedikt

[2018-03-05 16:51] gburgett commented on #88
@floelhoeffel I have another question maybe you could answer re: the environments API.

Currently our migration strategy involves running the migration-cli at the same time that we release our new code.  Unfortunately, possibly due to edge caching, the newly created links are not available on the CDN for anywhere from 5-30 seconds after the migration is run.  We're investigating doing zero-downtim

[2018-03-06 02:10] floelhoeffel commented on #88
I am not really sure on the final answer to this due to the ongoing development on the feature. I think aiming for the ParallelChange pattern might be good.

https://martinfowler.com/bliki/ParallelChange.html

- Content (and editors) to always stay in the master environment (prod)
- for breaking changes you branch environments of prod and test your new migration (script driven) in the env
- once h

[2018-03-06 19:22] gburgett commented on #88
Thanks for the info!  We actually just got an email from Ben inviting us to join the environments beta, which is awesome!  We'll definitely take a look at making this work.

[2018-03-09 08:44] HoverBaum opened #95 "Validation error "file is required" when importing exported space."
Currently investigating multiple spaces for dev, staging and production environments I was playing around with the importer tool and am really loving it 👍

I tried exporting a space without content and importing that works perfectly fine, only runs into rate limits all the time. But when I try to export and then import the content as well I get an error message.

I copied it into this gist: https:

[2018-03-09 09:10] axe312ger commented on #95
Hey @HoverBaum

unfortunately, the following can happen: In our web app you are creating assets and then forget to add files to them or just delete the files but not the actual asset.

This will get exported by the export tool since it is a plain representation of the CMA API GET response(s).

The import tool will then pick that response(s) and basically throw it back into the CMA API to create al

[2018-03-09 09:29] HoverBaum commented on #95
@axe312ger Thanks for taking this up so quickly. It would be great if the tool would catch these cases 👍

Could I use the migration CLI to filter these things out as well?
Since that will be the next thing to interest me anyway ^^

[2018-03-09 10:01] axe312ger commented on #95
You did run into a kind of edge-case. We will try to find an appropriate bugfix asap.

The migration CLI should not have problems with this but it can't be used to fix your specific issue.

[2018-03-09 10:05] HoverBaum commented on #95
Okay, for now I wrote a script to fix my case: https://gist.github.com/HoverBaum/59ff147998052cf26b745be25299a82f

Would be cool to see the tools handle more and more of these cases with some good feedback as well telling devs what errors were auto-corrected 🙂

[2018-03-12 10:34] axe312ger commented on #95
Turned out to be a wrong assumption, I mixed up other issues with yours.

The PR ☝️above will allow assets without files again :)

[2018-03-23 15:36] benliger1987 opened #97 "Validation error on import"
I'm trying to import an exported space and am getting the following error:

I'm not entirely sure what's causing this. I'm fairly sure I had a successful export, I had a few warnings but as they were just warnings i'm assuming it's exported as it should. Here was the log for that:

[2018-03-23 15:52] axe312ger commented on #97
Check the error log from the import tool. It should give you detailed information which exported entities might have wrong data (structure)

Fix these issues by hand and you are good :)

[2018-03-23 16:06] benliger1987 commented on #97
I have a few errors which are both titled:

and

Could you recommend what this would suggest and where I can start looking?

[2018-04-04 11:37] axe312ger commented on #97
Hey there,

file is required might be related to #96 which we will release asap

the httpBasicUsername actually should be removed via https://github.com/contentful/contentful-batch-libs/blob/master/lib/transform/transformers.js#L18-L24

You can work around the later one by removing that field manually from the source import json file. But is actually sounds like a bug since the code mentioned abov

[2018-04-04 12:55] axe312ger commented on #93
Should be fixed with v6.2.3

[2018-04-04 12:55] #93 closed

[2018-04-04 12:56] axe312ger commented on #97
#96 is fixed in the just released v6.2.3 :)

[2018-04-04 15:28] benliger1987 commented on #97
Yes so can confirm #96 is fixed. Also I removed the httpBasicUsername field manually from my export file which resolved that error. Worth noting I did not have a completely successful import. Some of the content has synced successfully and some hasn't.

I had 160 errors and 568 warnings. Most the errors were Rate limit others were:
BadRequest: Status 400:
VersionMismatch: Status 409 - Conflict
Inv

[2018-04-04 15:36] axe312ger commented on #97
Please try to import to a fresh space to see if it still fails.

If this is the case, please open a support ticket at https://www.contentful.com/support/, give it a small writeup about the issue and mention this ticket. You may upload your import.json and error-log.json, too.

Best,
Benedikt

[2018-04-05 02:10] dustinaleksiuk commented on #97
I'm getting very similar errors both when trying to apply a content model to an existing space using the API, as well as when exporting a space and importing it into a clean space.

[2018-04-05 09:03] axe312ger commented on #97
@dustinaleksiuk I need more details to see the cause of the issue since these errors are all related to content and its structure. Could you maybe file a support ticket, too?

[2018-04-11 00:05] nicomfe opened #98 "[enhancement] add --skip-existing-entity option"
At the moment the tool updates the content even if it doesnt have changes.

Instead of updating existing entities this option will allow us to leave the entity as it is in the destination space.

This option will allow quicker synching between spaces.

[2018-04-16 12:29] ChaosSteffen commented on #97
This is still broken: (running 6.2.3)

[code]

[2018-04-16 13:15] Khaledgarbaya commented on #97
hey @ChaosSteffen,
can you check the webhook structure in your exported data.
I am more interested in the `httpBasicUsername` does it exist? if it exist does it have the value null?

[2018-04-17 07:04] ChaosSteffen commented on #97
Hi @Khaledgarbaya, it is null.

[code]

[2018-04-17 09:25] Khaledgarbaya commented on #97
@ChaosSteffen,
Ok that's a bug in the import tool validation it does not allow null I will release a fix today.

Best,
Khaled

[2018-04-17 09:41] ChaosSteffen commented on #97
Awesome, thank you!

[2018-04-17 09:57] #97 closed

[2018-04-17 10:00] Khaledgarbaya commented on #97
This is fixed in [v7.0.1](https://github.com/contentful/contentful-import/releases/tag/v7.0.1)

[2018-04-25 11:13] axe312ger commented on #98
We have a very similar feature on our todo list and it will come to this tool. Can't give a timeline but we will do it for sure :)

[2018-04-25 11:13] #98 closed

[2018-04-26 11:43] ChaosSteffen commented on #76
Question: Why does your own tool run into rate-limiting "errors" when consuming your API? I would consider this the main issue here.

[2018-04-26 11:52] ChaosSteffen opened #102 "Allow import of invalid entries"
We use this tool as part of a backup and restore workflow. From time to time it can happen that a space contains entries that do not match their validations anymore, because those where changed afterwards.

In this case I can still export the space but not import these entries. Which defeats the purpose of a backup script.

I see two solutions to this:
1) Provide an interface that allows to detect

[2018-06-04 10:56] marcin-bo opened #104 "Import fails on "Importing Editor Interfaces" phase"
Hi,

When I export data from one space using contentful-export tool and try to import it to another space I get errors in phase named "Importing Editor Interfaces". We modified our content models by removing some fields and it seems that file with exported data contains those removed fields in `"editorInterfaces": []` array. Here is error I get:

[code]

After removing fields that cause errors fro

[2018-06-04 11:07] axe312ger commented on #104
How old is the space you are exporting from? Looks like the validation did not catch the wrong value when the editorInterface was set in the first place 🤔

I am very sure this can't happen to new spaces since our API side validation would not allow to set such an editor interface.

Maybe add these case to our validations? @Khaledgarbaya?

[2018-06-04 11:12] marcin-bo commented on #104
We started to use this space in November or December last year.

[2018-06-04 11:58] axe312ger commented on #104
Ahh I mixed something up, thats about the field id not the editor interface type.

This must be a bug, maybe even on API side since the following code should make sure that you get the interfaces of the content types you are actually importing. Maybe the field id was changed and somehow it was not propagated to the editor interface fields id. https://github.com/contentful/contentful-export/blob/ma

[2018-06-04 12:34] axe312ger commented on #104
Yeah gives me a first insight. Can you please also post the outcome of:

[code]

🙇

[2018-06-04 12:44] marcin-bo commented on #104
[code]

[2018-06-04 13:29] axe312ger commented on #104
Can it be the case `developmentText` was a field which got deleted at some point? 🤔

[2018-06-04 13:31] marcin-bo commented on #104
Yes, that's the case. We removed `developmentText` field from content model.

[2018-06-04 13:37] axe312ger commented on #104
I am escalating this issue internally. I'll let you know when I know more :)

[2018-06-06 08:03] axe312ger commented on #104
Hey @marcin-bo,

we identified the issue and will fix it as soon as possible. I'll keep the issue open to track progress.

Thanks a lot for the report!

Best,
Benedikt

[2018-06-12 08:26] DanielRuf opened #106 "failing unit tests"
https://github.com/contentful/contentful-import/commit/60806cffa32edb8d8bb82633529d8dbb770af445

[2018-06-12 08:57] axe312ger commented on #106
fixing it in #107 :)

[2018-07-18 08:51] Khaledgarbaya opened #110 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-07-18 11:46] #110 closed

[2018-09-10 08:43] #106 closed

[2018-09-10 09:27] Khaledgarbaya commented on #76
:tada: This issue has been resolved in version 7.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful-import)
- [GitHub release](https://github.com/contentful/contentful-import/releases/tag/v7.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-09-28 13:53] phoebeschmidt commented on #77
Payload validation was merged [here](https://github.com/contentful/contentful-import/pull/81).

Closing due to inactivity. Feel free to open another issue if you have more problems.

[2018-09-28 13:53] #77 closed

[2018-09-28 13:58] phoebeschmidt commented on #60
This has been released since v6.2.0 on Feb 20, 2017 🎉

[2018-09-28 13:58] #60 closed

[2018-10-31 10:07] fehim commented on #30
Any update on this?

[2018-10-31 10:11] phoebeschmidt commented on #30
@fehim Unfortunately not yet. In the meantime PRs are welcome :)

[2019-01-22 22:19] shailender-bathula opened #118 "Is '--no-update' or 'noUpdate' option supported?"
From the code the `pushToSpace` function doesn't seem to support `noUpdate` option.

Any timeline on when support for that would be implemented?

Creating a issue here, since `contentful-cli` is using this library for import.

Thanks.

[2019-02-21 11:28] Rikusor commented on #118
Any updates for this? Would also need this information.

[2019-03-08 08:01] aleks-dfds commented on #30
Guys, this is a pretty big thing for many teams with large spaces. Asset import takes forever, and we would benefit enormously from this.

[2019-03-18 06:56] chardcyber commented on #118
I can confirm this is a bug. will this be fixed anytime soon?

[2019-03-19 11:44] phoebeschmidt commented on #118
Hi unfortunately we haven't had a chance to fix this yet. In the meantime PRs are always welcome :)

[2019-04-10 09:16] kottek opened #119 "Data Import/Migration--how to keep original created dates while importing data from another space in contentful ?"
We've noticed that when content is imported from the JSON file, the sys.createdAt date changes to when the migration happens.This is not an expected behaviour when data needs to be migrated between spaces.

Is there a workaround for this?

@Khaledgarbaya I have seen a similar post couple of years back and you have assisted on this issue.Can you please help me in this ?

[2019-04-11 10:53] anthonyjbarnes commented on #118
To be honest its not a bug. It looks more like an idea or feature that was intended but never added. as there is no code related to `--no-update` or `noUpdate`. It just a param at the moment.

[2019-04-24 07:52] Khaledgarbaya commented on #119
Hey @kottek,

Unfortunately, `sys.createdAt` is read-only it's set by the backend at creation and we can't change it. the only workaround I can see right now is to have user controlled field for the creation date

Cheers,
Khaled

[2019-04-29 08:42] dnlmzw commented on #62
Any update on this? Also curious as the dev, staging, production cycle gets a little cumbersome at the moment.

[2019-09-06 19:37] mattcat10 commented on #118
It'd be nice if this "feature" was implemented or taken out of the docs for the contentful-cli.

[2019-09-26 07:46] studentofcoding opened #125 "Bad Request - Message: Previously published fields are invalid"
Hey Contentful, so i'm in the process of importing the content-file for my site, and the 400 Bad Request showed

┌──────────────────────────────────────────────────┐
│ The following entities are going to be imported: │
├─────────────────────────────────┬────────────────┤
│ Content Types                   │ 2              │
├─────────────────────────────────┼────────────────┤
│ Editor Interfaces

[2019-09-27 11:34] jroehl commented on #125
Hi @studentofcoding,
did you try the import before? Is the space you're trying to import the data into empty?

[2019-11-19 11:29] lukearmstrong commented on #62
Discovered this issue searching for the error message, and it's disappointing to see that whilst this has been raised several years ago, and bumped several times by people with the same issue, it was never fixed, and instead just closed.

That's a bit crap as the web interface doesn't allow you to do any sort of export or import. Nor does it allow you to do a mass-delete on content models. Even wh

[2019-11-20 11:28] lukearmstrong commented on #62
As promised, I have put together a couple of scripts to delete all of your **Content Entries** (_Content_) and all of your **Content Types** (_Content Models_) from an **Environment** in a **Space**.

https://github.com/lukearmstrong/contentful-cli-helpers

[2019-11-29 08:46] pappkamerad opened #127 "Import with skip-content-model gets stuck in an endless loop when encountering an 'UnknownField' error"
When you do an import of just content (with the --skip-content-model option) and the target space content-model misses a field compared to the source content-model, you are stuck in an endless loop, as the retry logic with `cleanupUnknownFields` has a bug.

Problem seems to be here: https://github.com/contentful/contentful-import/blob/master/lib/tasks/push-to-space/creation.js#L107

seems that `er

[2019-12-03 10:19] #127 closed

[2019-12-03 10:21] Khaledgarbaya commented on #127
:tada: This issue has been resolved in version 7.6.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/contentful-import)
- [GitHub release](https://github.com/contentful/contentful-import/releases/tag/v7.6.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-20 11:34] orta-sanz commented on #62
Thanks @lukearmstrong I also don't understand why this has been closed

[2020-03-24 11:14] dandersonstack opened #157 "README sites a tool that is now deprocated."
`contentful-migration-cli` has been deprocated, and they have renamed the updated library, `contentful-migration`.

[2020-04-02 08:53] ruderngespra commented on #118
Sadly, we will not implement this in the near future. It has been [taken out of the docs.](https://github.com/contentful/contentful-import/commit/2004ead7bec46be41700aaff9534bdc0a27adf05)

[2020-04-02 08:53] #118 closed

[2020-04-02 08:57] ruderngespra commented on #125
Closing this issue for now since it's open for a long time with no reaction.

[2020-04-02 08:57] #125 closed

[2020-04-02 09:06] ruderngespra commented on #119
Closing this issue for now since it's open for a long time with no reaction.

[2020-04-02 09:06] #119 closed

[2020-04-02 12:37] ruderngespra commented on #157
Thank you for reporting this! I [updated](https://github.com/contentful/contentful-import/commit/21cc40077222dd5acede388aeecd3df7f8d871f5) the docs accordingly.

[2020-04-02 12:37] #157 closed

[2020-04-02 13:40] makinwab commented on #62
@ruderngespra, can you have a look at this? The [most up to date comment](https://github.com/contentful/contentful-import/issues/62#issuecomment-555466208) has a lot of info on what the issue is.

I'll be closing out a [similar issue in the CLI](https://github.com/contentful/contentful-cli/issues/74) because the import tool is what needs to be looked at.

[2020-04-03 09:14] lukearmstrong commented on #62
@makinwab @ruderngespra In the end to resolve this I wrote some scripts which did this:

- Backup Source using CLI tool
- Backup Destination using CLI tool
- Write a script that connects to your API, and:
  - Loop through all Content Entries (Content), unpublish, then delete.
  - Loop through all Content Types (Content Models), unpublish, then delete.
- Import source.json into Destination using CL

[2020-04-09 11:57] gellati commented on #84
I think I have opened an issue related to this in the Contentful-CLI repo: https://github.com/contentful/contentful-cli/issues/335

[2020-04-23 06:22] arhoy opened #193 "What goes inside data To import.json"
The documentation states the json file should look like this
[code]

What is an example contentType and entry ?
I have tried to use my contentType name I created, ie the content model name and the entries as a json.

But I get error
[code]
Can someone please show me example?
Thank you

I am trying to import a bunch of entries into an already existing content type with images.

[2020-06-29 11:10] Kian-Aghaei commented on #3
Hi, I encountered a similar problem,

I export from an environment without any problem:
`contentful space export --space-id=[ID] --environment-id=redesign --export-dir='config/migrations/exports' --skip-webhooks=true --skip-content=true --skip-roles=true`

and tried to import it into another environment in the same organization and same space:
`contentful space import --space-id=[ID] --environment

[2020-06-30 10:46] phoebeschmidt commented on #3
Hi @Kian-Aghaei ,

Was the environment you are importing to empty or did it already have some content in it?
Also, `[excopy]` is an invalid environment ID. (Or did you remove your env id for GH issue? :) )

[2020-06-30 11:56] axe312ger commented on #3
@Kian-Aghaei I think I had 404s as well when the access token had no access to the environment

[2020-07-06 09:39] yamnayemara opened #245 "SyntaxError: Unexpected token"
while trying to run `contentful space X` i got
`/usr/local/Cellar/contentful-cli/1.4.17/libexec/lib/node_modules/contentful-cli/node_modules/fs-extra/lib/mkdirs/make-dir.js:85
      } catch {
              ^
SyntaxError: Unexpected token {
    at createScript (vm.js:80:10)
    at Object.runInThisContext (vm.js:139:10)
    at Module._compile (module.js:617:28)
    at Object.Module._extensions..js (

[2020-07-14 12:39] piyu-sh commented on #62
Hey @lukearmstrong, we are also stuck in a similar problem. We want to be able to sync model changes across different environments. And contentful doesn't provide any automated way of doing this consistently.
Would you be able to share this script that you've developed, it would be a great help ?

[2020-07-14 14:18] OriginalEXE opened #251 "Import to a space outside of the original organization fails with "AccessDenied""
Hello,

I am trying to import entries (and assets, both fail with the same error) to a space that does not belong to an organization out of which those entries were exported. When I run the import, I get the following error for each entry/asset:

[code]

I am an admin in both spaces/orgs. I have also double-checked my management token, and have even tried creating a new one. When I use that same m

[2020-07-15 09:31] OriginalEXE commented on #251
Just to make this weirder, the import works for some orgs, but not for others. I can consistently reproduce being able to import to 2 separate orgs (all of which I am an owner of), but then a failure of importing to multiple others (where I am the owner as well). Happy to provide ids.

[2020-07-21 09:07] contentful-ecosystem-bot opened #259 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-07-21 09:30] #259 closed

[2020-07-26 14:09] dpinol opened #262 "Missing items field in contentTypeSchema's fields"
Hi,
I tried to use the joi schema at dist/utils/schema.js to validate a json export, but it fails because contentTypeSchema misses the "items" entry for models of type Array.
So joi.validate fails with
`Error: child "contentTypes" fails because ["contentTypes" at position 0 fails because [child "fields" fails because ["fields" at position 2 fails because ["items" is not allowed]]]]
`
Example:
[cod

[2020-07-27 11:47] ruderngespra commented on #251
Hey @OriginalEXE, thanks for notifying us! Just one follow up to be sure: Do you know if the orgs for which the import fails have the tags feature enabled?

[2020-07-27 12:54] OriginalEXE commented on #251
Hey @ruderngespra, you might be onto something. It seems that all of the orgs for which the import failed did not have tags enabled, while the one from which we originally exported content, as well as those that had no problems with the import, all had tags enabled. Could that be the cause of this weird behavior?

[2020-07-27 13:53] ruderngespra commented on #251
Okay, good to know! Then I suspect this has something to do with it. The error message is not very helpful though and we will work on how to improve that. If you want to unblock yourself for now, maybe you can try manually remove metadata from the entry and asset payloads, in the case of the above examples that would mean to remove all of the instances of:

[code]

[2020-07-27 14:21] OriginalEXE commented on #251
Oh wow, that worked. Thanks a lot. It would be ideal if we did not have to do that, and the import would just ignore the tags if they are not supported on the target space/org. That way we could provide tags for the orgs that do support it. Thanks a lot once again 🙇

[2020-07-27 14:23] ruderngespra commented on #251
:+1: Yes, it is definitely not ideal currently, we will look into that!

[2020-08-03 09:45] #251 closed

[2020-08-04 19:10] amandasage commented on #245
Hi there,

Have you tried updating to the latest version of Node (v12 or higher)? https://nodejs.org/en/about/releases/

[2020-08-06 11:56] yamnayemara commented on #245
yes, It solved the problem, I forgat to update the ticket with that. thanks

[2020-09-24 18:52] DevanB commented on #30
I needed this option today. I was exporting a specific model's content. This model only had one content object and it had no assets. Yet when I exported and imported that single object, I had to wait for 463 other assets (which already existed, and thus were duplicated) to be created. Some option to skip assets is necessary.

[2020-10-30 16:48] isaachinman opened #324 "TypeScript Support"
Hi there, it seems like this package is actively maintained, but I was surprised to find that not only are there no types exported from `contentful-import`, there also aren't any at `@types/contentful-import`.

Does Contentful intend to support TS users?

[2020-11-16 12:51] #245 closed

[2020-11-16 13:26] TimBeyer commented on #84
This should have been fixed in https://github.com/contentful/contentful-import/pull/120
Closing this for now, feel free to reopen if that indeed did not fix things.

[2020-11-16 13:26] #84 closed

[2020-12-02 20:27] RodriSanchezGonzalez opened #355 "Unable to import and publish from CLI"
Hi!

I´m trying to import and publish from CLI and after read all on the web i don´t know what more to do, my entries always import to draft view. I add publish info to my json file, starting with publishedVersion, publishedCounter, etc. ¿Someone can help me or light me how can i see the error? The import process seems go fine.

CLI command: contentful space import --space-id="3akci11yycsc" --skip

[2021-01-04 15:16] stream7 opened #369 "Importing webhooks with dynamic URL fails"
These URLs are valid when entered via the Contentful UI.

I'm trying to import them via `contentful space import --content-file webhooks.json` and have exported them via `contentful space export --skip-content --skip-content-model --skip-roles --content-file webhooks.json`

CLI output

[code]

From the error log:

[code]

[2021-01-05 13:16] #369 closed

[2021-03-22 12:52] TimBeyer commented on #43
Resolved in https://github.com/contentful/contentful-import/pull/416

[2021-03-22 12:52] #43 closed

[2021-05-28 05:10] AntonioRedondo commented on #62
Any update on this issue? Due to it importing content models between different environments effectively doesn't work. It's really disappointing that a programmatic headless CMS software hasn't addressed such a serious bug reported almost 4 years ago.

[2021-06-24 05:08] absdigital commented on #30
This would have been a nice feature to have! I used a workaround by adding a guaranteed empty query.

[code]

I don't know if this helps, but it gave me exactly what I needed!

[2021-08-06 19:06] doodirock opened #501 "Nextjs Example Recipe breaks on Windows via Contentful Import"
[code]

Seems as though on windows there is an issue tied to contentful-import when using it along with the Nextjs Example set up.  If i run the same import on Mac its completely fine.  Not sure where the cause is.

[2021-08-23 15:25] tbuckham opened #504 "Guidance on "update" parameter in import config"
Hi there - I have unsuccessfully tried to find what  "update": false achieves in the config.json file when running an import - if set to false does it simply ignore any existing content with the same IDs and make no change to them? I was hoping to avoid some tests to deduce this and just go with documented guidelines, but couldn't find anything.

[2021-09-07 15:31] buzzyluxecom opened #521 "contentfull import Checking if destination space already"
NotFound: Status: 404 - Not Found - Message: The resource could not be found. - Request ID: 7e1ccd7277d4422710d6c

-------------------------------------------------

[
  {
    "ts": "2021-09-07T15:30:22.725Z",
    "level": "error",
    "error": {
      "originalError": {
        "name": "NotFound",
        "message": "{\n  \"status\": 404,\n  \"statusText\": \"Not Found\",\n  \"message\": \"The re

[2021-09-28 17:28] Sammii opened #545 "Request: Replace vulnerable dependency "echo-cli""
There is a "high severity" security vulnerability in the `trim-newlines@^1.0.0` package that is included as a transitive dependency of `echo-cli`. See: https://github.com/advisories/GHSA-7p7h-4mm5-852v

Hoisted from `contentful-export#echo-cli#meow#trim-newlines`

Since the `echo-cli` package has not been updated in 5 years, it seems to no longer be maintained.

Is it possible to replace this pack

[2021-12-03 14:02] haidarally opened #598 "Status : 422 Unprocessable Entity"
Getting these Error on some entries, when importing an environment.

03:30:55 - InvalidEntry: Status: 422 - Unprocessable Entity - Message: Validation error - Details: The property "articleContents" is required here - Request ID: 0fef3301-c0d6-4817-8786-557a0ad4ecfe

13:27:36 - ValidationFailed: Status: 422 - Unprocessable Entity - Message: Validation error - Details: The asset has no files - Requ

[2022-02-04 20:38] aghuddleston opened #599 "Importing Editor Interfaces ignores sidebar and editors"
Currently the import code for the editor interfaces copies over

[code]

But, as Contentful has added more options (thank you) for configuring, there are more editor interface configurations (https://contentful.github.io/contentful-management.js/contentful-management/7.53.0/interfaces/EditorInterface.html)  such as

[code]

It would be nice if the import included sidebar and editors in the Editor

[2022-03-01 10:03] Chuvisco88 commented on #104
@axe312ger I ran into this (or similar) error today. Guess it is not fixed yet

[2022-03-04 07:11] gargshubham49 opened #600 "Inefficient Regular Expression Complexity in chalk/ansi-regex"
while running `npm audit` some moderate vulnerabilities were scanned due to package ansi-regex

[2022-04-12 09:03] axe312ger commented on #104
@Chuvisco88 sorry, I am not responsible for this codebase anymore. Please reach out to Contentful support if you need urgent help.

[2022-04-29 13:47] marcolink commented on #30
closing this for now as there hasn't been any activity in a while (also a solution to the problem has been provided).

[2022-09-13 17:20] douglasg14b commented on #125
The error could include helpful information, unfortunately it does not...

[2022-10-13 17:23] hartmagj opened #648 "Migration hitting rate limit with very few entries showing up in target environment"
My team and I are trying to migrate the content from one contentful environment to another.  Running our migration script on a subset of the content works just fine, but when we run our script on a larger set of contentful entries, we receive rate limit errors that look like this (though not necessarily in this order):
`Oh no! Some errors occurred! Error [ContentfulMultiError]: Errors occured`
`11

[2022-11-03 21:42] jim-spot commented on #355
Same here. Would love to know how to fix it.